<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.wetrack">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".activity.SWApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:launchMode="singleTask">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-tableData
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-tableData
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-tableData
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="auqKTejBNbWk7lXtN3F8pSLYlgdQL1oz" />

        <!-- 欢迎 -->
        <activity
            android:name=".activity.Welcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 主界面 -->
        <activity
            android:name=".activity.Main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 车辆列表 -->
        <activity
            android:name=".activity.VehicleList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- 所有车辆实时定位 -->
        <activity
            android:name=".activity.AllLocation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.AllLocationBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 单车监控 -->
        <activity
            android:name=".activity.MonitorLocation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.MonitorLocationBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 反饋 -->
        <activity
            android:name=".activity.Feedback"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <activity
            android:name=".activity.SelectStartEndDate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 选择油量查询结果显示 -->
        <activity
            android:name=".activity.OilReportShow"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 轨迹查询时间 -->
        <activity
            android:name=".activity.SelectDate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 历史轨迹 -->
        <activity
            android:name=".activity.ShowHistory"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.ShowHistoryBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 地址解析 -->
        <activity
            android:name=".activity.Dizhijiexi"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 设置 -->
        <activity
            android:name=".activity.Setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.About"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 电子围栏 -->
        <!-- 设置电子围栏大小 -->
        <!-- 账户信息 -->
        <activity
            android:name=".activity.AccountInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 车辆信息 -->
        <!-- 累计里程 -->
        <activity
            android:name=".activity.MileageReport"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 告警统计 -->
        <activity
            android:name=".activity.AlarmReport"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 告警详细 -->
        <!-- test for googlemap -->
        <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.NoticeDetail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.OilDetailInfoBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.OilDetailInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>

</manifest>
