<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.carigps">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:launchMode="singleTask">

        <meta-tableData
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-tableData
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-tableData
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="38o6bQG9MwUjQyGgBG9wVeIexaMgdXNE" />

        <!-- 欢迎 -->
        <activity
            android:name=".activity.Welcome"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录 -->
        <activity
            android:name=".activity.Login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 主界面 -->
        <activity
            android:name=".activity.Main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 车辆列表 -->
        <activity
            android:name=".activity.VehicleList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <!-- 所有车辆实时定位 -->
        <activity
            android:name=".activity.AllLocation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.AllLocationBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 单车监控 -->
        <activity
            android:name=".activity.MonitorLocation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.MonitorLocationBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 反饋 -->
        <activity
            android:name=".activity.Feedback"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>

        <activity
            android:name=".activity.SelectStartEndDate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 选择油量查询结果显示 -->
        <activity
            android:name=".activity.OilReportShow"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 轨迹查询时间 -->
        <activity
            android:name=".activity.SelectDate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 历史轨迹 -->
        <activity
            android:name=".activity.ShowHistory"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.ShowHistoryBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 地址解析 -->
        <activity
            android:name=".activity.Dizhijiexi"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 设置 -->
        <activity
            android:name=".activity.Setting"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.About"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 电子围栏 -->
        <!-- 设置电子围栏大小 -->
        <!-- 账户信息 -->
        <activity
            android:name=".activity.AccountInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 车辆信息 -->
        <!-- 累计里程 -->
        <activity
            android:name=".activity.MileageReport"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 告警统计 -->
        <activity
            android:name=".activity.AlarmReport"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <!-- 告警详细 -->
        <!-- test for googlemap -->
        <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.NoticeDetail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.baidu.OilDetailInfoBaidu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity
            android:name=".activity.OilDetailInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>

</manifest>
